<ul class="list-group">
  <li class="list-group-item"><a href="category/add">1. Add Categroy<a></li>
  <li class="list-group-item"><a href="category/list">2. List all categories<a></li>
  <li class="list-group-item"><a href="category/category_items">3. List all categories of an item<a></li>
  <li class="list-group-item"><a href="category/item_categories">4. List all items which belongs to a categories<a></li>
</ul>