<h2>create</h2>
<form action="create">
  <label for="fname">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="lname">Price:</label><br>
  <input type="number" id="price" name="price"><br><br>
  <input type="submit" value="Submit">
</form> 